* {
  margin: 0;
}

html {
}

body {
}

.header {
  height: 140px;
  width: 100%;
  text-align: center;
  position: fixed;
  background-color: pink;
  border: 2px solid white;
  margin: auto;
  color: white;
  letter-spacing: 1em;
}
.subs {
  margin-top: 15px;
  font-weight: italic;
  font-size: 21px;
  font-family: "Vollkorn";
}
.big-name {
  margin-top: 10px;
  font-size: 65px;
  font-family: "Open Sans Condensed";
  text-transform: uppercase;
}

.outline {
  position: fixed;
  width: 20%;
  height: calc(100% - 140px);
  background-color: blue;
  z-index: -5;
  top: 140px;
  border: 5px solid green;
}

.black, .white {
  display: inline;
}


.container-me {
  position: absolute;
  top: 140px;
  z-index: -3;
}
.front-page {
  font-family: 'Sigmar One', cursive;
  font-size: 300px;
  background-color: green;
  height: 500px;
}
.black {
  background-color: black;
  height: 100%;
}
.R {
  position: absolute;
  color: black;
  top: 1%;
  right: 10%;
}
.white {
  background-color: white;
  height: 100%;
}
.C {
  position: absolute;
  color: white;
  bottom: 1%;
  left: 10%;
}
.first-block {
  background-color: #80CCFF;
}
.second-block {
  background-color: #80FF41;
}
.third-block {
  background-color: #FF944D;
}
.first-block, .second-block, .third-block {
  padding: 50px;
  height: 400px;
  margin-left: 20%;
}

img.profile-img {
  margin: auto;
  display: block;
  height: 150px;
  width: 150px;
  border: 5px solid white;
  border-radius: 50%;
}

@keyframes rotateimg {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(-360deg)}
}
@-webkit-keyframes rotateimg {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(-360deg)}
}

@keyframes moveleft {
  0% {background-color: #FF6666}
  50% {background-color: #FF5599}
  100% {background-color: #FF6666}
}
@-webkit-ketframes moveleft {
  0% {background-color: #FF6666}
  50% {background-color: #FF5599}
  100% {background-color: #FF6666}
}
@-moz-keyframes moveleft {
  0% {background-color: #FF6666}
  50% {background-color: #FF5599}
  100% {background-color: #FF6666}
}


@media (max-width: 780px) {
  .header {
    height: 70px;
    letter-spacing: 0.5em;
  }
  .container-me {
    top: 70px;
  }
  .subs {
    margin-top: 7px;
    font-weight: italic;
    font-size: 10px;
    font-family: "Vollkorn";
  }
  .big-name {
    margin-top: 5px;
    font-size: 32px;
    text-transform: uppercase;
    font-family: "Open Sans Condensed";
  }
  .first-block, .second-block, .third-block {
    padding: 25px;
  }
  .outline {
    height: calc(100% - 70px);
    top: 70px;
  }
}
